
.blogs .blogs-title h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}
.blogs .blogs-content .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.blogs-content .row .col-lg-4{
    width: calc(100% / 3);
    padding: 0 15px;
}
.blogs-content .blogBox .calendar{
    margin-bottom: 15px;
    margin-top: 15px;
}
.blogs-content .blogBox .calendar span{
    color: var(--grey2);
    font-size: 12px;
    cursor: pointer;
    transition: all .3s ease;
}
.blogs-content .blogBox .calendar span:hover{
    color: var(--primary);
}
.blogs-content .blogBox .calendar i{
    color: var(--grey2);
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
    transition: all .3s ease;
}
.blogs-content .blogBox .calendar i:hover{
    color: var(--primary);
}
.blogs-content .blogBox h4{
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}
.blogs-content .blogBox .meta-tag {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.blogs-content .blogBox .meta-tag span{
    font-size: 14px;
    color: var(--grey2);
    transition: all .3s ease;
} 
.blogs-content .blogBox .meta-tag span:hover{
    color: var(--primary);
} 
.blogs-content .blogBox .meta-tag i{
    font-size: 15px;
    color: var(--grey2);
    transition: all .3s ease;
    margin-right: 5px;
} 
.blogs-content .blogBox .meta-tag i:hover{
    color: var(--primary);
} 
@media (max-width: 767px){
    .blogs .blogs-title h2{
        font-size: 25px;
        margin-bottom: 15px;
    }
    section.blogs{
        margin-bottom: 0;
    }
    .blogs .blogs-content .row{
        flex-direction: column;
    }
    .blogs-content .row .col-lg-4{
        box-shadow: rgb(0 0 0 / 10%) 0px 5px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
        padding: 15px;
    }
    .blogs-content .row .col-lg-4{
        width: 100%;
        margin-bottom: 40px;
    }
}
@media (max-width: 575px){
    .blogs .blogs-title h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    
}
@media (max-width: 480px){
    .blogs .blogs-title h2{
        font-size: 16px;
        margin-bottom: 15px;
    }
    
}